{% extends "layout.html.twig" %}

{% block content %}

<h1>Armoured vehicles of the 20th Century</h1>

<form method="post" action="">
    
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Country
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <label class="checkbox-inline">
          <input type="radio" name="country[]" id="inlineradio1" value="france"> France		  
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="country[]" id="inlineradio2" value="germany"> Germany
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="country[]" id="inlineradio3" value="usa"> USA
        </label>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Vehicle Function
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox25" name="type[]" value="td"> Tank Destroyer</br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox26" name="type[]" value="recon"> Recon</br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox27" name="type[]" value="assault"> Assault Tank<br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox28" name="type[]" value="support"> Infantry Support<br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox29" name="type[]" value="ag"> Assault Gun<br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox30" name="type[]" value="spg"> Self Propeled Gun<br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox31" name="type[]" value="option37"> Anti Tank<br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox31" name="type[]" value="fastsp"> Fast Support<br>
        </label>
        <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox31" name="type[]" value="sht"> Super Heavy Tank<br>
        </label>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Activity Service
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <label class="checkbox-inline">
        <input type="radio" name="date[]" id="inlineradio1" value="b39"> Before 1939</br>		  
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="date[]" id="inlineradio2" value="3945"> 1939-1945</br>
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="date[]" id="inlineradio3" value="a45"> After 1945</br>
        </label>
      </div>
    </div>
  </div>
      <input type="hidden" name="topic" value="machine___boissons_chaudes.xtm"/>
    
    <input type="submit" value="Rechercher"/>
</div><!-- fin nav -->

<div id="content">

	<div id="fiche">
		<div id="image"><img src="images/pz3.png" /></div>
        <div id="nom"><h3><p>Pzkpfw III Ausf J - Technical File</p><h3></div>
       	<div class="rowfile"> <div class="caract">Manufacturers</div> <div class="data">Henschel - Man - MNH - Daimler Benz</div> </div>
		<div class="rowfile">	<div class="caract">Role</div> <div class="data">Anti tank - Infantry Support</div> </div>
        <div class="rowfile">	<div class="caract">Weight(tons)</div> <div class="data">21</div> </div>
        <div class="rowfile">	<div class="caract">Max speed(km/h)</div> <div class="data">40</div></div>
        
	</div><!-- fin fiche-->

	
</div><!-- fin content -->


<div id="list"><!-- future liste dynamique recherche sur ref -->
    <div id="vehicles">
        <ul>
            {% for entity in entities %}
            <li><a href="#" onclick="$('#fiche').load('/redac-tech-topic-map/web/index.php/fiche/{{(entity.0)|replace({'http://psi.ontopedia.net/': ''}) }}/{{(entity.1)|e('url')}}')">{{entity.1}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

</form>


{#url}}

{{dump(fileContent)}}

{{dump(arrayContent)#}

{% endblock %}